<div class="gallery-container">
    <div class="gallery">
      <div class="gallery-item">
        <img src="L:\task3\cwh-todo-list\image\naruto.jpg" alt="Image 1" />
      </div>
      <div class="gallery-item">
        <img src="L:\task3\cwh-todo-list\image\gojo.jpg" alt="Image 2" />
      </div>
      <div class="gallery-item">
        <img src="L:\task3\cwh-todo-list\image\L.jpeg" alt="Image 3" />
      </div>
      <div class="gallery-item">
        <img src="L:\task3\cwh-todo-list\image\tanjiro.jpg" alt="Image 4" />
      </div>
      <div class="gallery-item">
        <img src="L:\task3\cwh-todo-list\image\luffy.jpg" alt="Image 5" />
      </div>
    </div>
  </div>
  