<div class="blog-container">
    <div class="blog-header">
      <h1>My Blog Post</h1>
      <p class="blog-date">Published on May 23, 2023</p>
    </div>
    <div class="blog-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius lorem at sem consectetur, a vestibulum sapien vestibulum. Vestibulum interdum.</p>
      <p>Nunc tincidunt ipsum eget tincidunt tristique. Integer nec odio et dolor efficitur suscipit ac ac mauris. Ut aliquam justo at metus hendrerit, eu.</p>
      <p>Integer scelerisque felis eget ultrices mattis. Nullam aliquet, libero id laoreet tempus, dui lorem condimentum leo, eu volutpat enim mauris et erat.</p>
    </div>
    <div class="blog-footer">
      <a href="#" class="read-more">Read More</a>
      <div class="blog-tags">
        <span class="tag">Technology</span>
        <span class="tag">Web Development</span>
        <span class="tag">Programming</span>
      </div>
    </div>
  </div>
  
